<a href="https://colab.research.google.com/github/malika-zaheer/ai-journey-malaika/blob/main/Day1_FirstPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello Malika")

Hello Malika

In [4]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [10]:
person_name = "Malaika"
person_age = "19"
print("My name is "+ person_name + " and")
person_name = "Aima"
print(person_name + " is " + person_age +" old.")

My name is Malaika and
Aima is 19 old.

In [34]:
print("Gujrat University")
print("Gujrat\nUniversity")
print("Gujrat\'University")
print("Gujrat\\University")
phrase ="Gujrat University"
print(phrase)
print(phrase, "is the place where i study.")
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[15])
print(phrase.replace("Gujrat","Punjab"))
print(phrase.index("U"))

Gujrat University
Gujrat
University
Gujrat'University
Gujrat\University
Gujrat University
Gujrat University is the place where i study.
gujrat university
GUJRAT UNIVERSITY
False
True
17
t
Punjab University
7

In [31]:
# First Python program
print("Hello, World!")

# Variables
name = "Malaika"
age = 20
print("My name is", name, "and I am", age, "years old.")

# Simple math
x = 5
y = 3
print("x + y =", x + y)

# Comments example
# This is a comment - Python ignores it

Hello, World!
My name is Malaika and I am 20 years old.
x + y = 8
AIAIAI