<a href="https://colab.research.google.com/github/malika-zaheer/ai-journey-malaika/blob/main/Day3_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Madlibs Game
colour = input("Enter a colour: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity name: ")
print("Roses are " + colour)
print(plural_noun +" are blue")
print("I love " + celebrity)

Enter a colour: white
Enter a plural noun: seas
Enter a celebrity name: jenna ortega
Roses are white
seas are blue
I love jenna ortega

In [ ]:
#Lists are mutuable (can make changes to them)
things = ["Ali", "Sara", 3, True, 4]
#print list
print(things)
#print element based on index
print(things[3])
#print last element
print(things[-1])
#print from 1 and onwards
print(things[1:])
#print within range
print(things[1:3])
#Modify elements in list
things[2] = 45
print(things)

['Ali', 'Sara', 3, True, 4]
True
4
['Sara', 3, True, 4]
['Sara', 3]
['Ali', 'Sara', 45, True, 4]

In [ ]:
#List Functions
friends = ["Sara", "Zara", "Ali", "Tim"]
birthday_date=[12, 6, 9, 9, 27]
print(friends)
#Insert any item in list by specifying its index
friends.insert(1, "Malaika")
print(friends)
#Extend function to add another list on the end of one list
friends.extend(birthday_date)
print(friends)
#To add an item in list at end
friends.append("Jim")
print(friends)
#Removing elements frome list
friends.remove("Sara")
print(friends)
#Removing all elements from list
friends.clear()
print(friends)
#Removes last element from the list
birthday_date.pop()
print(birthday_date)
#Search any value in list
print(birthday_date.index(6))
#counting a value
print(birthday_date.count(9))
#sort the list
birthday_date.sort()
print(birthday_date)
#reversing a list
birthday_date.reverse()
print(birthday_date)
#creating a copy of list
birthday_date2 = birthday_date.copy()
print(birthday_date2)

['Sara', 'Zara', 'Ali', 'Tim']
['Sara', 'Malaika', 'Zara', 'Ali', 'Tim']
['Sara', 'Malaika', 'Zara', 'Ali', 'Tim', 12, 6, 9, 9, 27]
['Sara', 'Malaika', 'Zara', 'Ali', 'Tim', 12, 6, 9, 9, 27, 'Jim']
['Malaika', 'Zara', 'Ali', 'Tim', 12, 6, 9, 9, 27, 'Jim']
[]
[12, 6, 9, 9]
1
2
[6, 9, 9, 12]
[12, 9, 9, 6]
[12, 9, 9, 6]

In [ ]:
#Tuples are immutable (can't make changes to it)
coordinates = (4,8)
print(coordinates[0])

4

In [ ]:
#Dictionaries
monthConversion = {
    "Jan" : "January",
     "Feb" : "Feburary",
     "Mar" : "March",
     "Apr" : "April",
     10 : "May",
}
monthConversion["Oct"]= "October"
print(monthConversion)
print(monthConversion["Feb"])
#another way and if the value is not found it will print none ny itself
print(monthConversion.get("Dec"))
#prints the msg instead of none if value is not found
print(monthConversion.get("Dec", "Not a valid key"))
print(monthConversion.get("Jan"))
print(monthConversion.get(10))
print(monthConversion.get(11, "Not found"))
# Loop through dictionary
for key, value in monthConversion.items():
    print(key, ":", value)

{'Jan': 'January', 'Feb': 'Feburary', 'Mar': 'March', 'Apr': 'April', 10: 'May', 'Oct': 'October'}
Feburary
None
Not a valid key
January
May
Not found
Jan : January
Feb : Feburary
Mar : March
Apr : April
10 : May
Oct : October

In [ ]:
#Exercise
# ----- Lists -----
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits.append("orange")        # Add item
print(fruits)
print(fruits[1])               # Access item by index
fruits[0] = "mango"            # Change value
print(fruits)

# ----- Tuples -----
colors = ("red", "green", "blue")
print(colors)
# colors[0] = "yellow"  # ‚ùå Error: tuples are immutable

# ----- Dictionaries -----
person = {
    "name": "Malaika",
    "age": 20,
    "city": "Lahore"
}
print(person)
print(person["name"])          # Access value by key
person["email"] = "test@mail.com"  # Add key-value pair
print(person)

# Loop through dictionary
for key, value in person.items():
    print(key, ":", value)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['mango', 'banana', 'cherry', 'orange']
('red', 'green', 'blue')
{'name': 'Malaika', 'age': 20, 'city': 'Lahore'}
Malaika
{'name': 'Malaika', 'age': 20, 'city': 'Lahore', 'email': 'test@mail.com'}
name : Malaika
age : 20
city : Lahore
email : test@mail.com

In [ ]:
#Mini-exercise
friends = ["Ali", "Zara", "Tim"]
print(friends)
friends.append("Malaika")
print(friends)
ageOfFriends = {
   "Ali" : 22,
   "Zara" :12,
   "Tim" : 29,
   "Malaika" : 20,
}
for key,value in ageOfFriends.items():
  print("My friend", key, "is", value, "years old.")

['Ali', 'Zara', 'Tim']
['Ali', 'Zara', 'Tim', 'Malaika']
My friend Ali is 22 years old.
My friend Zara is 12 years old.
My friend Tim is 29 years old.
My friend Malaika is 20 years old.

Quiz3:
1. fruits.append("grape")
2. Tuples are immutable means we can't make changes to them like add anything into it or delete something but on the other hand lists are immutable, so we can make changes in it like we can add any value or delete any value, and manymore.
3. print(person["email"])
4.  by using given lines (person is a dictionary in this case)
    for key,value in person.items():
    print(key, :, value)
5. False (because tuples are immutable)