<a href="https://colab.research.google.com/github/malika-zaheer/ai-journey-malaika/blob/main/Day7_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#Revision quiz
1# Create a list of 3 colors and print the second one.
colours = ["Red", "Pink", "Black"]
print(colours[1])

2# Output: Yes

3# Write a function square(num) that returns the square of a number.
def square(num):
  return num*num
result = square(9)
print(result)

4# Tuples are immutable

5# Write a loop that prints numbers from 5 to 1 (in reverse).
num = 5
while num>0:
  print(num)
  num -=1

Pink
81
5
4
3
2
1

In [5]:
# Mini Project â€“ Student Gradebook
print("Student Gradebook")
gradebook = {}
no_of_student = int(input("Enter the number of students: "))
for n in range(no_of_student):
  student_name = input("Enter the name of student: ")
  subject_marks = int(input("Enter marks for " +student_name+ ":"))
  gradebook[student_name] = subject_marks
print(gradebook)
print("\n--- Student Marks ---")
for name, marks in gradebook.items():
  print(name,":", marks)
average = sum(gradebook.values()) / len(gradebook)
print("\nAverage Marks:", average)
# Find highest and lowest
highest_marks = max(gradebook.values())
lowest_marks = min(gradebook.values())

# Find corresponding students
topper = [name for name, marks in gradebook.items() if marks == highest_marks]
weakest = [name for name, marks in gradebook.items() if marks == lowest_marks]

print("\n Highest Marks:", highest_marks, "by", ", ".join(topper))
print(" Lowest Marks:", lowest_marks, "by", ", ".join(weakest))

Student Gradebook
Enter the number of students: 2
Enter the name of student: ali
Enter marks for ali:45
Enter the name of student: tim
Enter marks for tim:43
{'ali': 45, 'tim': 43}

--- Student Marks ---
ali : 45
tim : 43

Average Marks: 44.0

 Highest Marks: 45 by ali
 Lowest Marks: 43 by tim